<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.2">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/Shask/computer-database.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>
docker rm -f $(docker ps -a -q)
#docker rmi --force $(docker images -q)
#docker rmi --force shask/mysql:2.0

docker run --name=&quot;mysql&quot; -d shask/mysql:2.0
sleep 5
docker create --name=&quot;jdk_mvn&quot; --link=&quot;mysql:localhost&quot; shask/jdk_mvn mvn test 
docker cp . jdk_mvn:/.
docker start -a jdk_mvn </command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
