<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/Shask/computer-database.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>
#docker rmi --force shask/mysql:2.0



if [ -e $(docker ps -aq -f &quot;name=mysql&quot;) ]
then 
	docker run --name=&quot;mysql&quot; -d shask/mysql:2.0 
fi  






#Creating the environement to run build the webapp
if [ -e $(docker ps -aq -f &quot;name=jdk_mvn&quot;) ]
then 
#No docker jdk, creating one
  docker create --name=&quot;jdk_mvn&quot; --link=&quot;mysql:localhost&quot; shask/jdk_mvn mvn clean install
else 
	if [ -e $(docker ps -f &quot;name=jdk_mvn&quot;) ]
    #if there is a jdk_mvn container running close it
    then
	docker stop jdk_mvn
    fi
fi
 docker cp . jdk_mvn:/.
 docker start -a jdk_mvn 

#Copy of .war from docker jdk-mvn to jenkins
docker cp jdk_mvn:/root/.m2/repository/com/excilys/computerdb/computerdb/0.6.0/computerdb-0.6.0.war computerdb.war

#Create tomcat docker and cp the webapp in it 
if [ -e $(docker ps -aq -f &quot;name=computerdb-webapp&quot;) ]
then 
	echo No jdk_mvn tomcat running ...
	docker create --name=&quot;computerdb-webapp&quot;  --restart=no tomcat:8.0
else 
   	docker cp computerdb.war computerdb-webapp:usr/local/tomcat/webapps/computerdb.war
	docker commit computerdb-webapp shask/computerdb-webapp
fi


#push the webapp on my hub
docker push shask/computerdb-webapp


#bash /var/glazer-deploy.sh --host 192.168.10.225 --port 65000 --env MYSQL_ROOT_PASSWORD=root mysql_deploy shask/mysql:2.0
#bash /var/glazer-deploy.sh --host 192.168.10.225 --port 65000 --link mysql:localhost --publish 65312:8080 shask-computerdb-webapp shask/computerdb-webapp

 
 </command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>